@font-face {
    font-family: "Geist Regular";
    src: local("Geist-Regular"),
        url("Geist-v1.4.01/ttf/Geist-Regular.ttf") format("truetype")
}

html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #f5f5f5;
    background: url(https://hubblesite.org/files/live/sites/hubble/files/home/science/galaxies/_images/STScI-H-galaxies-0639a-2400x1200.jpg) no-repeat center center fixed; 
    background-size: cover;

}
body{
    display: flex;
    flex-direction: column;
}
h1{
    background-color: rgba(186, 179, 179, 0.8);
    border-radius: 5px;
    color: whitesmoke;
    text-shadow: #313437 1px 1px 2px;
    width: 400px;
    margin: 20px auto 20px auto;
}

label-gif-message-selector{
    font-size: 25px;
    text-shadow:#0a0a0a 1px 1px 1px;
}

.main-app{
    display: flex;
    flex-direction: column;
    margin: 0px auto 0px auto;
    padding: 30px 10px 30px 10px;
    background-color: rgba(186, 179, 179, 0.5);
    border-radius: 10px;
    width: 300px;
}
.gif-message-selector{
    display: flex;
    background-color: white;
    color: #313437;
    margin: 10px auto 0 auto;
    width: 250px;
    border-radius: 5px;
    border: #f5f5f5 1px solid;
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}
select{
    appearance: none;
}
.send-btn{
    list-style-type: none;
    background-color: whitesmoke;
    color: #313437;
    margin: 25px auto 0 auto;
    width: 150px;
    font-size: 35px;
    font-weight: 800;
    border-radius: 5px;
    border: #f5f5f5 1px solid;
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
}
.send-btn:hover{
    color: whitesmoke;
    background-color: #313437;
    border: 1px #313437 solid;
}
.modal-container{
    display: none;
    margin: 25px auto; /* Changé pour centrer horizontalement */
    position: relative;
    width: fit-content; /* Ajouté pour s'adapter au contenu */
}
.modal-content img {
    border-radius: 4px;
    border: 5px rgb(7, 7, 7) solid;
}
.close-modal-container{
    position: absolute;
    right: 0px;
    width: 25px;
    height: 25px;
    z-index: 1;
    cursor: pointer;
    border: 0px;
    
}
.sharing-space{
    display: flex;
    justify-content: space-between;
    /*background-color: rgba(186, 179, 179, 0.8);*/
    border-radius: 5px;
    color: whitesmoke;
    text-shadow: #313437 1px 1px 2px;
    width: 200px;
    margin: 20px auto 20px auto;
}
.share-btn, .download-btn{
    margin: 5px 0 0 0;
    width: auto;
    border-radius: 5px;
}